{$SITE_HOST} {
    tls {
        protocols tls1.2 tls1.3
    }
    encode zstd gzip
    reverse_proxy app:5000 {
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}
    }
}
